<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ezenboard.mapper.BoardMapper">

<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						writer like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<!-- <select id="getList" resultType="org.ezenboard.domain.BoardVO">
<![CDATA[
	select * from tbl_board where bno > 0 order by bno desc
]]>
</select> -->
  
<select id="getListWithPaging" resultType="org.ezenboard.domain.BoardVO">
<![CDATA[
	SELECT bno, title, content, writer, regdate, updatedate, replycnt 
	FROM 
		(SELECT /*+ INDEX_DESC(tbl_board pk_board) */
			rownum rn, bno, title, content, writer, regdate, updatedate, replycnt 
		FROM tbl_board 
		WHERE
]]>
		<include refid="criteria"></include>
<![CDATA[
			rownum <= #{pageNum} * #{amount} )
	WHERE rn > (#{pageNum} - 1) * #{amount} 		
]]>
</select>

<select id="getTotalCount" resultType="int">
	SELECT count(*) 
	FROM tbl_board 
	WHERE
		<include refid="criteria"></include>

	 bno > 0 
</select>

<select id="getReplyCnt" resultType="int">
	SELECT (replycnt) 
	FROM tbl_board 
	WHERE bno = #{bno}
</select>

<insert id="insert">
	insert into tbl_board (bno,title,content,writer)
	values (seq_board.nextval, #{title}, #{content}, #{writer})
</insert>

<insert id="insertSelectKey">
<selectKey keyProperty="bno" order="BEFORE"
	resultType="long">
	select seq_board.nextval from dual
</selectKey>

	insert into tbl_board (bno,title,content, writer)
	values (#{bno},
	#{title}, #{content}, #{writer})
</insert>

<select id="read" resultType="org.ezenboard.domain.BoardVO">
	select * 
	from tbl_board 
	where bno = #{bno}
</select>

<delete id="delete">
	delete tbl_board 
	where bno = #{bno}
</delete>

<update id="update">
	update tbl_board 
	set title = #{title}, 
		content = #{content}, 
		writer = #{writer}, 
		updateDate = sysdate 
	where bno = #{bno} 
</update>

<update id="updateReplyCnt">
	UPDATE tbl_board 
	SET replycnt = replycnt + #{amount} 
	WHERE bno = #{bno} 
</update>

<!--수정 예시, 따옴표 주의
update tbl_board 
set title = 'test0412', 
	content = 'test0412', 
	writer = 'why', 
	updateDate = sysdate 
where bno = 87; -->

</mapper>