<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ezenboard.mapper.ReplyMapper">

<select id="getReplyList" resultType="org.ezenboard.domain.ReplyVO">
<![CDATA[
	SELECT * 
	FROM tbl_reply
	ORDER BY bno ASC
]]>
</select>

<insert id="insert">
	INSERT INTO tbl_reply (rno, bno, reply, replyer, replydate)
	VALUES (seq_reply.nextval, #{bno}, #{reply}, #{replyer}, sysdate)
</insert>

</mapper>